{% extends 'admin/base_site.html'%}
{%block title%}{{ title }} | Reporte de Ganancias{%endblock%}
{%block content%}
	<h3>Reporte de Ingresos y Gastos {{fecha_reporte|date}}</h3>
	{% if ingresos and gastos %}
		<div class="row">
			<div class="col-md-4">
				<p><strong>Ingresos</strong></p>
				<p>Total Ingresos :{{suma_ingresos}} </p>
				<table class="table table-condensed table-striped">
					<tr>
						<th>Concepto</th>
						<th>Monto</th>
					</tr>
					{% for i in ingresos %}
						<tr>
							<td>{{i.concepto}}</td>
							<td>{{i.monto}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>

			<div class="col-md-4">
				<p><strong>Gastos</strong></p>
				<p>Total Gastos :{{suma_gastos}} </p>
				<table class="table table-condensed table-striped">
					<tr>
						<th>Concepto</th>
						<th>Monto</th>
					</tr>
					{% for g in gastos %}
						<tr>
							<td>{{g.concepto}}</td>
							<td>{{g.monto}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}
	<p>Total : {{total}}</p>
{%endblock%}